:root{
  --jaune: #FDCA07;
}

@font-face {
    font-family: 'Oxanium';
    src: url('fonts/oxanium/Oxanium-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cinzel-bold';
    src: url('fonts/cinzel/Cinzel-Bold.otf') format('opentype');
}

a:link, a:visited {
  color: black;
  text-decoration: underline;
  cursor: grabbing;
}

#underline {
	text-decoration-line: underline;
	text-decoration-color: var(--jaune);
  	text-decoration-style: solid;
  	display: contents;
}

form, button {
	display: contents;
  	background-color: black;
  	color: red;
  	padding: 3px 10px;
  	text-align: center;
  	font-size: 12px;
  	cursor: pointer;
}

hr {
	display: block;
    border-color: var(--jaune);
    margin-top: -0.9em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
}

h1 {
	font-size: 3em; 
}

h2, h3{
	text-transform: uppercase;
	width: auto;
}

h3 {
	display: flex; /*to align the two parts of the h3 */
	font-size: 1.7em;
}

h2, strong {
	font-family: 'Cinzel-bold', Arial, serif;
}

p, article, ul {
	font-family: 'Oxanium', Arial, serif;
}

#all_page {
	margin: 10px;
	display: flex;
	text-align: justify;
	font-size: medium;
}


/* aside bloc */
aside {
	background-color: var(--jaune);
	display: flex;
	flex-direction: column;
	position: relative;
	word-break: break-all;
	max-width: 450px;

}

aside h2 {
	background-color: #404040;
	color: var(--jaune);
	text-align: center;
}

/* loisirs */
aside section:nth-child(5) {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

aside section:nth-child(5) ul {
	display: flex;
	justify-content: space-between;
    margin-right: auto;
    margin-left: -2em;
	}

#competences {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1em;
}

/* images */
.img_competences {
    height: 60px;
    width: auto;
    padding: 1em;
}

.img_loisirs {
	width: auto;
  	height: 90px; 
}

#photocv {
	align-self: center;
	margin-top: 15px;
}

#imgcv {
	border-radius: 45%;
}

/* main bloc */

main {
	margin: auto;
	padding-left: 40px;
	max-width: 850px;
}

main ul {
    padding: 0px;
}

#prenom {
	display: inline;
	color: var(--jaune);
}

section ul {
	padding-bottom: 20px;
	padding-right: 1em;
}


section ul li {
	display: flex;
}

section ul li ul {
	margin: auto;
	width: 60%;
}

#reco {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: inherit;
	margin-bottom: 1em;
}

.reco_list {
	margin-bottom: inherit;
}

#formation li strong, #experience li strong {
	display: block;
	width: 25%;
	min-width: fit-content;
}

main section h2 {
	display: inline-block;
}

#formation, #experience {
	margin-bottom: -10px;
}



/* Media queries */
@media screen and (max-width: 992px) {
  body {
    background-color: white;
  }

 #all_page {
    flex-direction: column-reverse;
    font-size: large;
 }

 aside {
 	max-width: inherit;
 	}

 aside section:nth-child(5) {
	position: inherit;
 	}

 #reco {
	display: block;
	}

main {
	padding-left: 0px;
	}

section ul li ul {
	width: 100%;
    margin: inherit;
	}

#formation li strong, #experience li strong {
    width: 40%;
}
 	

/* On screens that are 600px or less*/
@media screen and (max-width: 600px) {

section ul li {
	display: block !important;
	}
}

@media print {
	aside {
		background-color: white;
	}
} 




