@font-face {
    font-family: 'Oxanium';
    src: url('fonts/oxanium/Oxanium-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    src: url('fonts/cinzel/Cinzel-Regular.otf') format('opentype');
}

p {
	font-family: 'Cinzel', 'Oxanium', Arial, serif;
}