:root{
  --jaune: #81C784;
}

@font-face {
    font-family: 'Oxanium';
    src: url('fonts/oxanium/Oxanium-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cinzel-bold';
    src: url('fonts/cinzel/Cinzel-Bold.otf') format('opentype');
}

a:link, a:visited {
  color: blue;
  text-decoration: underline;
  cursor: grabbing;
}

#underline, main section h2 {
	text-decoration-line: underline;
	text-decoration-color: var(--jaune);
  	text-decoration-style: solid;
}

h1 {
	font-size: 3em; 
}

h2, h3{
	text-transform: uppercase;
	width: auto;
}

h3 {
	display: flex;
}

h2, strong {
	font-family: 'Cinzel-bold', Arial, serif;
}

p, article, ul {
	font-family: 'Oxanium', Arial, serif;
}

#all_page {
	margin: 10px;
	display: flex;
	text-align: justify;
}


/* aside bloc */
aside {
	background-color: var(--jaune);
	display: flex;
	flex-direction: column;
	position: relative;
	word-break: break-all;
	max-width: 450px;

}

aside h2 {
	background-color: #404040;
	color: var(--jaune);
	text-align: center;
}

/* loisirs */
aside section:nth-child(5) {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

aside section:nth-child(5) ul {
	display: flex;
	justify-content: space-between;
	margin-right: 15px;
    margin-left: -35px;
	}

#competences {
    display: flex;
    flex-wrap: wrap;
	}

/* images */
.img_competences {
  	height: auto;
  	width: 4em;
  	padding: 2em;
}

.img_loisirs {
	width: auto;
  	height: 90px; 
}

#photocv {
	align-self: center;
	margin-top: 15px;
}

#imgcv {
	border-radius: 45%;
}

/* main bloc */

main {
	margin: auto;
	padding-left: 40px;
	max-width: 850px;
}

main ul {
    padding-inline-start: 0px;
}

#prenom {
	display: inline;
	color: var(--jaune);
}

section ul {
	padding-bottom: 20px;
}


section ul li {
	display: flex;
}

section ul li ul {
	margin: auto;
	width: 60%;
}

#reco {
	display: flex;
	justify-content: space-between;
}

#certif {
	margin-top: -20px;
}

main section h2 {
	display: inline-block;
}

section:last-child {
	display: block;
}





/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: yellow;
  }

 #all_page {
    flex-direction: column;
 }

 aside {
 	max-width: inherit;
 }

 aside section:nth-child(5) {
	position: inherit;
 }
 	







/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: green;
  }
}




